/* global*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    ;
}

a{
    text-decoration: none;
    text-transform: capitalize;
}

ul{
    list-style: none
}
html{
    scroll-behavior: smooth;
}
small , span{
    display: block;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* media for contianer*/
/*small*/
@media (min-width: 768px){
    .container{
        width: 750px;
    }
}

/*medium*/
@media (min-width: 992px){
    .container{
        width: 970px;
        
    }
}

/*larg*/
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}
h1 , h2 , h3 , h4 , h5 , h6 , p{
    text-transform: capitalize;
}
span{
    display: inline;
}
:root{
    --m-c:#0EA2BDCE;
    --s-c: #0EA2BD;
    --t-c: #ECEEEF;
    --f-c: #485664;
}
.s-up-down{
    margin: 100px 0;
}
.section-header{
    text-align: center;
    width: 80%;
    margin: 100px auto;
}
@media (max-width: 767px) {
    .section-header{
        width: 100%;
    }
}
.section-header .section-header-title{
    color: var(--f-c);
    padding-bottom: 20px;
}
.section-header .section-header-desc{
    color: #777;
    line-height: 22px;
}
/*------------------------------------------------------------------------------------------*/
/*header*/
header{
    position: fixed;
    z-index: 9;
    width: 100%;
    background-color: #fff;
}

header .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}

header .header-title{
    font-size: 30px;
    color: var(--f-c);
}

header nav{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav .toggle{
    color: var(--f-c);
    font-size: 22px;
}


@media(min-width: 768px){
    header nav .toggle{
        display: none;
    }
}

header .nav-list{
    display: flex;
}

@media(max-width: 767px){
    header .nav-list{
        flex-direction: column;
        position: absolute;
        top: 30px;
        left: 0;
        width: 100%;
        height: calc(100% + 160px);
        background-color: var(--t-c);
        transform: translateX(-1000%);
        z-index: 9999;
        transition: 0.3s;
     }
}
.nav-list.open{
    transform: translateX(0);
}
.nav-list .close{
    display: none;
}
@media (max-width: 767px) {
    .nav-list .close{
        position: fixed;
        top: 8px;
        right: -4px;
        display: flex;
        height: 40px;
        width: 40px;
        font-size: 27px;
        color: var(--m-c)


    }
}

header .nav-list > li > a{
    padding: 40px 15px;
    display: block;
    color: var(--f-c);
    font-size: 18px;
    transition: 0.3s;
}

@media(max-width: 767px){
     header .nav-list > li > a{
        padding: 8px 15px;
     }
}

header .nav-list > li > a.active,
header .nav-list > li > a:hover{
    color: var(--s-c);
}

/* drob-down */
.drob-down{
    position: absolute;
    background-color: var(--f-c);
    top: 70px;
    width: 200px;
    display: none;
    transition: 0.3s;
  }
  @media (max-width: 991px) {
    .drob-down{
        top: 30px;
    }
  }
.drob-down ul li a{
    color: var(--m-c);
    display: block;
    padding: 10px 35px;
    transition: 0.3s;
}
@media (max-width: 991px) {
    .drob-down ul li a{
        padding: 9px 12px;
    }
}
nav ul > li:hover .drob-down {
    display: block;
}
.drob-down ul li a:hover {
      background-color: var(--s-c);
      color: #fff;
}



/* ---------------------------------------------------------------------------------------------------- */
/* landing */
.landing{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(../img/hero-bg.png);
    background-size: cover;
}
.landing  .landing-content{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 75%;
}

@media (max-width: 767px) {
    .landing  .landing-content{
        top: 50%;
    }
}

.landing .landing-img {
    width: 400px;
    margin: 30px auto;
}
@media (max-width: 767px) {
    .landing .landing-img{
        /* display: none; */
        width: 160px;
        top: 10px;
    }
}
.landing .landing-img img{
    position: relative;
    max-width: 80%;
    animation: up-down 5s linear infinite;
}

.landing .landing-content .landing-info{
    width: 900px;
    text-align: center;
}

@media (max-width: 767px) {
    .landing .landing-content .landing-info {
        width: 250px;
    }
}

.landing .landing-content .landing-info .landing-title{
    font-size: 30px;
    color: var(--f-c);
    padding-bottom: 20px;
}

@media (max-width: 767px) {
    .landing .landing-content .landing-info .landing-title{
        font-size: 20px;
    }
}

.landing .landing-content .landing-info .landing-title span {
    color: var(--s-c);
}

.landing .landing-content .landing-info .landing-desc{
    font-size: 18px;
    color: var(--f-c);
    font-weight: bold;
    padding-bottom: 20px;
}
@media (max-width: 767px) {
    .landing .landing-content .landing-info .landing-desc{
        font-size: 12px;
        line-height: 15px;
        margin: 0;
    }
}
.landing .landing-content .landing-info .landing-btn{
    width: 140px;
    height: 40px;
    background-color: var(--m-c);
    color: #fff;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 6px;
}

.landing .landing-content .landing-info .landing-btn:hover{
    background-color: var(--s-c);
}

/* animation */
@keyframes up-down {
    0%, 100%{
        top: 0;
    }
    50%{
        top: -50px;
    }
}
/* ---------------------------------------------------------------------------------------------------- */
/* boxs */
@media (min-width: 768px) {
    .boxs-content{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 30px;
    }
}

.boxs-content .boxs-item{
    padding: 30px 10px;
    box-shadow: 0px 2px 15px rgb(18 66 101 / 8%);
    cursor: pointer;
    transition: transform 0.3s;
    position: relative;

}
@media (max-width: 767px) {
   .boxs-content .boxs-item{
    text-align: center;
   }
}

.boxs-content .boxs-item:hover{
    transform: scale(1.1);
 }

.boxs-content .boxs-item i{
    color: var(--m-c);
    font-size: 30px;
}

.boxs-content .boxs-item .boxs-title{
    color: var(--f-c);
    padding: 15px 0;
}

.boxs-content .boxs-item:hover .boxs-title{
    color: var(--m-c);
}

.boxs-content .boxs-item .boxs-desc{
    color: #777;
    line-height: 18px;
}
/* --------------------------------------------------------------------------------------------- */
/* about */
.about-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 30px;
}

.about-content .about-item .about-img{
    max-width: 100%;
}
@media (max-width: 767px) {
    .about-content .about-item .about-img{
        max-width: 60%;
    }
}

.about-content .about-item .about-heading{
    padding-bottom: 60px;
}
@media (max-width: 767px){
    .about-content .about-item .about-heading{
        max-width: 80%;
    }
}
.about-content .about-item .about-heading .about-title{
    color: var(--f-c);
    line-height: 22px;
}























/* -------------------------------------------------------------------------------------------------- */
/* btn-to-up */
#btn-up{
    background-color: var(--m-c);
    color: #fff;
    border: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

